# database
NODE_ENV=development
PORT=<post_application>
DB_HOST=localhost
DB_PORT=<port_DB>
DB_USERNAME=<seu_usuario>
DB_PASSWORD=<sua_senha>
DB_NAME=<nome_projeto>
LOGGING=false
SYNCHRONIZE=true

# JWT
JWT_SECRET=<sua_senha>
JWT_EXPIRES_IN=3h

#REDIS
REDIS_URL=<url>

# default
PASSWORD_DEFAULT=<password_default_user>